# Dependencies
node_modules/

# Build output
/dist/
/.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Env
.env
.env.*
# Local artifacts not needed in repo
laboratorydna-mirror.zip
Users/
laboratorydna-react/
